* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #240140;

}

h3 {
    color: white;
    align-items: center;
    text-align: center;

}

.playlist {
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.imgs {
    width: 255px;
    height: 255px;
    border: 5px solid red;
}